/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Estilos del card */
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.card h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos de los ejemplos de código */
.code-block {
    background-color: #000;
    color: #fff; /* Color de texto blanco */
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
    margin-top: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.example-input {
    background-color: #000;
    color: #fff;
}

.example-output {
    background-color: #000;
    color: #fff;
}

/* Estilos específicos para el card de explicación */
.explanation-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
}

.explanation-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.explanation-card p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

.explanation-card ul {
    margin-top: 10px;
}

.explanation-card li {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
    padding: 5px; /* Añadido para espacio entre líneas */
    list-style-type: none; /* Eliminar puntos de la lista */
}

.explanation-card li:nth-child(odd) {
    background-color: #f0f0f0; /* Fondo diferente para líneas impares */
}

.explanation-card code {
    background-color: #f2f2f2;
    padding: 2px 5px;
    border-radius: 3px;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
